* {
    transition: all .1s ease-in;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*______________________________________________________________________________________________________________*/
html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #3399cc;
    border: 20px dotted #2b81ac;/*soilid was changed by - dotted*/
    margin: 0; /*for border ↑*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
}

.box {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}
/*______________________________________________________________________________________________________________*/
.list {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 0;
    border: -4px solid #fff;
    
}

.list li {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding: 20px 15px;
    border: 4px solid #fff;
}

ul:hover li {
    opacity: .3;
}

ul li:hover {
    opacity: 1;
}

.value {
    font-size: 28px;
    color: #fff;
    opacity: 0.6;
}

.lis {
    background: #3399cc;
    width: 50%;
}

.par {
    background: #33cccc;
    width: 25%;
}

.bel {
    background: #996699;
    width: 25%;
}

.mos {
    background: #c24747;
    width: 25%;
}

.ta {
    background: #e2674a;
    width: 25%;
}

.ca {
    background: #ffcc66;
    width: 25%;
}

.ny {
    background: #99cc99;
    width: 25%;
}

.nd {
    background: #669999;
    width: 25%;
}

.sf {
    background: #cc6699;
    width: 50%;
}

.tok {
    background: #339966;
    width: 25%;
}

.syd {
    background: #666699;
    width: 100%;
}
/*______________________________________________________________________________________________________________*/

/*How we can make the page with rule - float?*/